#.gitignore

# python virtual environment files
*/venv/*
venv

# local configuration files
*/local/*

# local metadata
*/metadata/local.meta

# Compiled Python files
*.pyo
*.pyc

# Backup files
*~

# pycharm
.idea

# Read the doc & Sphinx
docs/build
docs/source/_build

# backups local
backups

# spl
*.spl

# Mac OS X cached files
.DS_Store

# Visual Basic Code
.vscode

# appinspect reports
appinspect_report*.html

# build files
dist/*

# test files
test/sample*.txt